<p id="notice"><%= notice %></p>

<h3>
  <%= @cliente.nome %>
</h3>

<p>
  <b>Contato:</b>
  <%= @cliente.contato %>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Cidade:</b>
  <%= @cliente.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @cliente.estado %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Excluir', @cliente, method: :delete, data: { confirm: 'Are you sure?' } %>

<h3>Orçamentos</h3>
<ul>
<% @orcamentos.each do |orcamento|%>
  <li><%= link_to orcamento.codigo, cliente_orcamento_path(@cliente,orcamento)%> - <%= orcamento.data %></li>
<% end %>
</ul>

<%= link_to 'Novo Orçamento', new_cliente_orcamento_path(@cliente) %>